Hi,

Your password for the Manchester Phoenix web site has been reset.

Email: [% user.email %]
Password: [% new_password %]

You almost certainly want to go and change it for a more sensible
password, that you can remember. You can do this here:

http://www.manchesterphoenix.co.uk/user/profile

Regards,

The Webmaster
Manchester Phoenix
